@import "../../styles/colours";

.header {
  border-bottom: 2px solid #fff;
  box-shadow: 0 13px 14px -12px rgba(0, 0, 0, 0.75);

  &__inner {

    .title {
      cursor: pointer;
      transition: opacity .12s ease-in;

      &:hover {
        opacity: .8;
      }

    }

  }

}
