body {
  font-family: Arial, serif;
  background-color: #353333;
}

label, h1, h2, h3, h4, h5, h6, input {
  margin-bottom: 0 !important;
  color: #ffffff !important;
}

a:hover {
  text-decoration: none;
}
